<div [ngClass]="{ collapsed: isCollapsed }">
    <div class="offcanvas-backdrop" (click)="toggleSidebar()"></div>
    <nav class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
      <div class="sidebar-content">
        <div class="sidebar-wrapper">
          <div class="sidebar-toggle" (click)="toggleSidebar()">
            <i
              class="fa fa-2x"
              [ngClass]="{
                'fa-chevron-circle-left': !isCollapsed,
                'fa-chevron-circle-right': isCollapsed
              }"
              aria-hidden="true"
            ></i>
          </div>
          <ul class="sidebar-nav">
            <li class="sidebar-nav-item" *ngFor="let route of routes">
              <ng-container *ngIf="isRouteVisible(route)">
                <a
                  class="sidebar-nav-link"
                  [routerLink]="route.path"
                  routerLinkActive="active"
                  (click)="handleRouteClick()"
                  ><i class="icon" [class]="route.icon" aria-hidden="true"></i
                  ><span>{{ route.title }}</span>
                </a>
              </ng-container>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  