<div class="modal-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 offset-3 text-center">
        <i class="fa fa-exclamation-triangle fa-2x text-color-accent"></i>
      </div>
    </div>
  </div>
</div>
<div class="modal-body text-center h4">
  <p>Oops! connection error.</p>
  <p>Token got expired please login again!</p>
</div>
<div class="modal-footer d-block">
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-regular"
        (click)="modal.dismiss('cancel click')"
      >
        cancel
      </button>
    </div>
    <div class="col">
      <button
        type="button"
        ngbAutofocus
        class="btn btn-accent"
        (click)="modal.close()"
      >
        Refresh
      </button>
    </div>
  </div>
</div>
