.reporting-form{
    background-color: rgba(242,242,242,1);
    padding:15px 40px;
    border-radius: 10px;
}

.input-group{
    background-color: aliceblue;
}

.form-select{
    border:1px solid #adadad !important;
}

.fs-8{
    font-size:12px;
}