
<div
  class="container home-page-container"
  remainingHeight
  *ngIf="storeLandingService.showLandingInfo"
>
  <div class="row px-3 px-md-0 mt-4 mt-md-5">
    <div class="col-lg-5 col-12 col-md-6" style="margin: auto">
      <h2 class="app-title" *ngIf="carouselDetailsLP1['LP_1_1']">
        {{ carouselDetailsLP1["LP_1_1"].desc }}
      </h2>
      <p class="app-text" *ngIf="carouselDetailsLP1['LP_1_2']">
        {{ carouselDetailsLP1["LP_1_2"].desc }}
      </p>
      <button
        type="button"
        class="btn btn-primary app-start-btn"
        *ngIf="carouselDetailsLP1['LP_1_4']"
        (click)="onClick()"
      >
        <span> {{ carouselDetailsLP1["LP_1_4"].desc }}</span>
        <img
          src="../../../../../../assets/img/right-arrow.png"
          alt=""
          class="icon-img animation-icon"
        />
      </button>
    </div>
    <div
      class="col-12 col-lg-6 col-md-6 order-first order-md-last mb-4 mb-md-5 mb-md-0"
    >
      <div class="app-img-container" *ngIf="carouselDetailsLP1['LP_1_3']">
        <img
          src="{{ carouselDetailsLP1['LP_1_3'].imageUrl }}"
          class="app-img"
        />
        <!-- <img
          *ngIf="themeService.currentTheme === 'theme-bt'"
          src="../../../../../../assets/img/icons/bt-img-border.svg"
          class="app-img border-img"
        /> -->
      </div>
    </div>
  </div>
</div>
<div
  class="landing-page-wrapper"
  *ngIf="!storeLandingService.showLandingInfo"
  remainingHeight
>
 <p-carousel
 [value]="carouselDetailsLP2"
 [autoplayInterval]="5000"
 [circular]="true"
 >
 <ng-template let-carouselDetail pTemplate="item">
  <div class="carousel-slide">
    <div class="carousel-image" [style]="'background-image: url('+carouselDetail.imageUrl + ');'">
</div>
<div class="carousel-caption">
  <h2> <strong>{{carouselDetail.desc}}</strong></h2>
</div>
  </div>
 </ng-template>
 

</p-carousel>
 

  <div class="container mb-5 items-container">
    <div class="row item-wrapper gy-5">
      <div
        class="col-lg-4 col-md-6 col-6 p-0 cursor-pointer"
        *ngIf="isDigitalstoreUser"
        [routerLink]="'/order-management/product'"
      >
        <div class="item clickable">
          <div class="top-content">
            <div class="card-item-img-container">
              <img
                src="../../../../../../assets/img/product.png"
                alt=""
                width="50"
                height="50"
                class="icon-img animation-icon"
              />
              <!-- <store-order-icon></store-order-icon> -->
            </div>
            <h5 class="p-2 text-truncate" title="Order Management">
              <button class="shadow__btn">
                Order-management
            </button>
            </h5>
          </div>
          <!-- <div class="bottom-content">
            <a class="p-2 m-0 landing-card-link no-underline"> MyStores </a>
          </div> -->
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-6 p-0 cursor-pointer"
        *ngIf="isDigitalstoreUser"
        [routerLink]="'/service-management/dashboard'"
      >
        <div class="item clickable">
          <div class="top-content">
            <div class="card-item-img-container">
              <!-- <service-request-icon></service-request-icon> -->
              <img
              src="../../../../../../assets/img/sr.png"
              alt=""
              width="50"
              height="50"
              class="icon-img animation-icon"
            />
            </div>
            <h5 class="p-2 text-truncate" title="Service-management">
              <!-- <strong>Service-management</strong> -->
              <button class="shadow__btn">
                Service-management
            </button>
            </h5>
          </div>
        </div>
      </div>
      <div
      class="col-lg-4 col-md-6 col-6 p-0 cursor-pointer"
      *ngIf="isDigitalstoreUser"
      [routerLink]="'/service-management/dashboard'"
    >
      
      </div>
    </div>
  </div>
</div>
