@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~projects/shared-lib/src/lib/styles/store/variables.scss";

.inner-container-header{
    position:sticky;
    top:4.124rem;
    width:100%;
    background: white;
    z-index:1;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: black;
    text-decoration: none;
}

a {
    color:aqua;
    text-decoration: underline;
}

// .page-tab-container {
// .nav-tabs .nav-link{
//     border-bottom: 3px solid;
//     color: #5514b4;
//     font-weight: bold;
//     padding: 6rem;
// }
// }