@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~projects/shared-lib/src/lib/styles/store/variables.scss";

.inner-container-header{
    position:sticky;
    top:4.124rem;
    width:100%;
    background: white;
    z-index:1;
}