#side-nav{
    position: fixed;
    width:0px;
    top:0;
    height:100%;
    z-index:1049;
    transition: 0.3s;
    background-color: white;
    overflow: auto;
}

.left{
    left:-200%;
}

.left.opened{
    left:0%;
}

.right{
    right:0;
}

#side-nav.opened{
    transition: 0.3s width;
}