@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~projects/shared-lib/src/lib/styles/store/variables.scss";
@import "~projects/shared-lib/src/lib/styles/theme.scss";

logo {
  height: 1.438rem;
}



.app-logo{
  width:120px;
  height:40px;
  object-fit: cover;
  cursor: pointer;
}

.navbar-right{
  display: flex;
}
.dropdown-content{
  overflow-x: auto;
}

.flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .icon{
    width: 50px;
    padding-left: 0;
  }
}


.location-pin{
  margin-left: 3rem;
  margin-right:1rem;
  size: 0px;
  cursor: pointer;
  img{
    margin-right: 0.5rem;
  }
  .loc-name {
    padding-bottom: 5px;
    @include themify($themes){
      border-bottom: 3px solid themed("text-color-secondary");
    }
  }
}

.header-menu{
  ::ng-deep{
    .tooltip{
      &.show{
        opacity: 1;
      }
    }
    .tooltip-arrow::before{
      border-bottom-color: #fff;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .tooltip-inner{
      max-width: 525px;
      width:525px;
      left:-30px;
      position: absolute;
      background-color: #fff;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      border-radius: 20px;
      padding:1rem 1.4rem;
    }
    .order-management{
      .tooltip-inner{
        left:-290px;
        .flex-container{
          .icon{
            position: relative;
            top:-6px;

          }
        }
      }
    }

    .service-management{
      .tooltip-inner{
        left:-290px;

        .flex-container{
          .icon{
            position: relative;
            top:-6px
          }
        }
      }
    }
  }
  @include themify($themes){
    background-color: themed("primary");
  }

}
.flex-container{
  display: contents;
  flex-direction: row;
  // flex-direction: column;
  // align-items: cener;
  //  justify-content: center;
 

  width: 100%;
}

.list{
//  padding:2px 0;
  padding-bottom: 0;
    border-top:0px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    color:$white;
    // background-color: #f9f9f9;
    height: 50px;

    & >.col{
      display: flex;
      @include themify($themes){
        
    }
    background-color:$primary;
  }
    
    
}

.nav-hamburger{
  display: none;
  margin-left: auto;
  padding: 0;
font:inherit;
border-style: none;
background-color: transparent;
cursor: pointer;

svg rect{
  fill:#ffffff
}
}

// .tooltip-inner {
//   max-width: 525px;
//   width: 525px;
//  left:-30px;
//  position: absolute;
//  background-color: white;
//  box-shadow: 0px8px 16px 0px rgba(0,0,0,0.2);
//  border-radius: 20px;
//  padding: 1rem 1.2rem;

// }

.service-management{
  .tooltip-inner{
    left: -6px;

    .flex-container{
      .icon{
        position: relative;
        top: -6px;
      }
    }
  }
}

.list-item{
  list-style-type: none;
  display: flex;
  padding-left: 0.5rem;
  margin-bottom: 0;

 
    background-color:$primary;
  

  .item{
    margin-right:1rem;
  }
  .nav-link:hover,
  .nav-link.active{
    @include themify($themes){
      border-bottom: 7px solid themed("text-color-accent");
    }
  }
  .nav-text{
    color:$white;
  }
}
  .dropdown-menu{
    width: 100%;
  }
  .dropdown-content{
    display: flex;
   
    width: 100%;
    z-index: 99;

    .sidebar-nav-Link{
      font-weight: bold;
      color: #3f3f3f;
      &.active,
      &:hover{
        @include themify($themes){
          color: themed("primary");
        }
      }
    }
  }



.icon{
  font-size: x-large;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  height: 31px;

  &.active {
    padding-bottom: 18px;
    border-bottom:solid 2px;
    @include themify($themes){
      color:themed("nav-icon-color-active") !important;
    }
  }
}

.icon-container[data-count],
i[data-count]{
  &:after{
    position: absolute;
    content: attr(data-count);
    font-size: x-small;
    font-weight: bolder;
    padding: 0.5em;
    border-radius: 50%;
    line-height: 0.5em;
    text-align: center;
    min-width: 1.5rem;
    box-shadow: 0px 1px 0px 0px grey;
  }
  &.active{
    &:after{
      @include themify($themes){

      }
    }
  }
}

.dropdown-content a{
color: black;
padding: 1rem 16px;
text-decoration: none;
display: block;
}
// .dropdown-content{
// display: none;
// position: absolute;
// top: 120px;
// left: 0;
// padding-left: 15px;
// background-color: #f1f1f1;
// width:100%;
// box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
// z-index: 99;

// }

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   padding: 12px 16px;
//   z-index: 1;
// }


// .dropdown-content a:hover{
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
//   position: absolute;
//   }
  .dropdown-content a:hover{
    background-color: #ddd;
    display: block;
  }
  .sidebar-nav-Link{
    .icon{
      margin-bottom: 0.8rem;
    }
  }

  .order-management:hover .dropdown-content{
    display: flex;
  }

  .service-management:hover .dropdown-content{
    display: flex;
  }




// .navbar {
//   height: 3.75rem;
//   position: fixed;
//   width: 100%;
//   z-index: 20;
//   background: rgb(23, 21, 25);
// }

// .navbar-toggler-icon {
//   height: 1rem;
//   width: 1rem;
// }

// .avatar {
//   height: 2.688rem;
//   width: 2.688rem;
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 2px solid white;
// }

// .avatar-img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .avatar {
//   .avatar-name {
//     margin-left: 0.438rem;
//   }
// }

// @include media-breakpoint-down(lg) {
//   .navbar {
//     height: 6.563rem;
//     padding-top: 0;
//     background: rgb(20, 17, 24);
//     background: linear-gradient(90deg, #142032 39%, #4e2d53 99%);
//   }
//   .navbar-container {
//     border-bottom: 1px solid white;
//     margin-bottom: 0.313rem;
//   }
// }

// @include media-breakpoint-down(md) {
//   .logo {
//     height: 2.813rem;
//   }

//   .logo-text {
//     font-size: 1rem;
//   }
//   .navbar-container {
//     margin-bottom: 0;
//   }
// }


::ng-deep{
  .tooltip{
    position: relative !important;
    display: flex !important;
    transform: translate3d(0,0,0) !important;
   

    .tooltip-inner{
      background-color:#ffffff !important;
       border-radius: 20px;
      
      position: relative;
      border-radius: 5px;
      padding-top: 10px;
      left: 1rem !important;
      max-width: 100%;
      width: 100%;

    }
    .tooltip-arrow::before{
      display: none;
    }
  }
}