<nav class="navbar navbar-expand-lg navbar-primary bg-white border-bottom-1-store-navbar">
  <div class="conatiner-fluid">
    <img
      id="logo"
      src="assets/img/store.jpg"
      [routerLink]="'/'"
      class="app-logo"
      alt="logo"
      *ngIf="themeservice.currentTheme === 'theme.ADMIN';else robot"
    />
    <ng-template #robot>
      <img
      id="logo"
      src="assets/img/store.jpg"
      [routerLink]="'/'"
      class="app-logo"
      alt="logo">
    </ng-template>
  </div>
  <div
    class="collapse navbar-collapse justify-content-end aligin-items-center"
    id="navbarSupportContent"
  >
    <!-- <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
    <button class="btn btn-primary" type="button">Search</button>
  </form> -->
    <div class="location-pin">
    <img src=".../../../../../../../../assets/img/location-pin.png" height="34px" alt=""/>
    <span class="loc-name">Banglore,India</span>
  </div>

    <app-app-notification></app-app-notification>
    <app-profile *ngIf="stateService"></app-profile>

    <i style="font-size: 30px" class="fas fa-cart-plus"></i>
    <div style="font-size: 10px" class="badge bg-danger">{{ totalItem }}</div>
    <span class="text-primary"><b>STORE</b></span>
  </div>
</nav>
<div class="row list header-menu">
  <div class="col">
    <ul class="list-item">
      <li class="item cursor-pointer order-management">
        <a
          id="order-management"
          aria-hidden="true"
          class="nav-link"
          aria-current="page"
          [ngbTooltip]="ordermanagementDropdownContent"
          [autoClose]="'outside'"
          triggers="click:blur"
          #ordermanagementTooltipMenu="ngbTooltip"
          placement="bottom"
          [ngClass]="{ active: isSrRoute() }"
        >
          <b class="nav-text">Order-Management</b>
          <ng-template #ordermanagementDropdownContent>
            <div class="dropdown-content-row">
              <a
                routerLinkActive="active"
                (click)="ordermanagementTooltipMenu.close()"
                [routerLink]="'order-management/product'"
                class="sidebar-nav-link col-6"
              >
                <div class="flex-container">
                  <img src=".../../../../../../../../assets/img/product.png" class="icon" height="34px" alt=""/>
                  <span >Products</span>
                </div>
              </a>
              <a
                routerLinkActive="active"
                (click)="servicemanagementTooltipMenu.close()"
                [routerLink]="''"
                class="sidebar-nav-link col-6"
              >
                <div class="flex-container">
                  <img src=".../../../../../../../../assets/img/myorder.png" class="icon" height="34px" alt=""/>
                  <span >My Order</span>
                </div>
              </a>
              <a
                routerLinkActive="active"
                (click)="servicemanagementTooltipMenu.close()"
                [routerLink]="''"
                class="sidebar-nav-link col-6"
              >
                <div class="flex-container">
                  <img src=".../../../../../../../../assets/img/cart.png" class="icon" height="34px" alt=""/>
                  <span ><b>View Cart</b></span>
                </div>
              </a>
              <a
                routerLinkActive="active"
                (click)="servicemanagementTooltipMenu.close()"
                [routerLink]="''"
                class="sidebar-nav-link col-6"
              >
                <div class="flex-container">
                  <img src=".../../../../../../../../assets/img/customer-service.png" height="34px" alt=""/>
                  <span>Raise Request</span>
                </div>
              </a>
              <a
                routerLinkActive="active"
                (click)="servicemanagementTooltipMenu.close()"
                [routerLink]="''"
                class="sidebar-nav-link col-6"
              >
                <div class="flex-container">
                  <img src=".../../../../../../../../assets/img/reportdownload.png" height="30px" alt=""/>
                  <span >Download Report</span>
                </div>
              </a>
            </div>
          </ng-template>
        </a>
      </li>
      <li class="item cursor-pointer service-management">
        <a
          id="service-management"
          aria-hidden="true"
          class="nav-link"
          aria-current="page"
          [ngbTooltip]="servicemanagementDropdownContent"
          [autoClose]="'outside'"
          triggers="click:blur"
          #servicemanagementTooltipMenu="ngbTooltip"
          placement="bottom"
          [ngClass]="{ active: isSrRoute() }"
        >
          <b class="nav-text">Service-management</b>
          <ng-template #servicemanagementDropdownContent>
            <div class="dropdown-content-row">
              <ng-container *ngFor="let route of srLink.routes">
              <a
                routerLinkActive="active"
                (click)="servicemanagementTooltipMenu.close()"
                [routerLink]="route.path"
                class="sidebar-nav-link col-6"
                
              >
                <div class="flex-container">
                  <i class="icon" [class]="route.icon" aria-hidden="true"></i>
                  <span>{{route.title}}</span>
                </div>
              </a>
            </ng-container>
              
            </div>
          </ng-template>
        </a>
      </li>
    </ul>
  </div>
</div>

<ng-template #disabledCartMessageContent>
  <div>
    <!-- Cart will be enabled after the customer EIN is entered or Pre-order is
selected. -->
    Cart will be visible once you select items for your stores order.
  </div>
</ng-template>

<ng-template #disabledLocationMessageContent>
  <div>
    <!-- Location specific to store location will be displayed here. -->
    Location selected for your order collection point.
  </div>
</ng-template>
