<!-- <div class="user-main-profile-dropdown" id="user-info-dropdown">
  <i class="fas fa-user-circle fa-2x"></i>
  <!-- <i class="fa-solid fa-right-from-bracket fa-2x" (click)="logout()"></i> -->
<div
  class="user-main-profile-dropdown"
  id="user-info-dropdown"
  (click)="callProfile()"
  ngbDropdown
  #profileDrop="ngbDropdown"
>
  <app-avatar-name
    [user]="userDetails"
    [isSmall]="true"
    ngbDropdownToggle
  ></app-avatar-name>

  <div ngbDropdownMenu class="row dropdown-profile">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex px-4 mt-2">
      <div class="fw-bold">
        {{ userDetails | fullname }}
        <div class="role-title">SuperAdmin</div>
      </div>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        id="profile-menuclose"
        (click)="$event.stopPropagation(); profileDrop.close()"
      ></button>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="seperate"></div>
      <div class="row px-4">
        <div class="col-5 col-sm-5 col-md-5 col-lg-5">
          <p class="fw-bold">Email</p>
        </div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7">
          <p>nandakumar@gmail.com</p>
        </div>

        <div class="col-5 col-sm-5 col-md-5 col-lg-5">
          <p class="fw-bold">Phone</p>
        </div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7">
          <p>962626663</p>
        </div>

        <div class="col-5 col-sm-5 col-md-5 col-lg-5">
          <p class="fw-bold">Location</p>
        </div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7">
          <p>Banglore</p>
        </div>
      </div>
      <div class="seperate"></div>
      <div class="row px-4">
        <div class="mb-2 mt-2">
          <button
            class="btn btn-primary me-4 padding-btn"
            id="logout"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
