<div class="me-4 notification-icon" ngbDropdown #dropDown="">
    <a
      class="text-light active p-0"
      role="button"
      aria-expanded="false"
      ngbDropdownToggle
      id="notification-dropdown"
      (click)="handleDropdownToggle()"
    >
      <i class="far fa-bell fs-3" aria-hidden="true"></i>
      <span
        class="position-absolute top-1 translate-middle badge rounded-pill bg-danger"
        >5</span
      >
    </a>
  </div>
  
  <!-- TODO add further coding when notification_svc is available -->
  