<app-myorder-landing></app-myorder-landing>
<div class="container"> 
  
    <div class="title">Create Order</div>
    
  
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Product Name</span>
            <select class="select" >
              <option hidden></option>
              <option >Damaged</option>
              
            </select>
          </div>
          <div class="input-box">
            <span class="details">Product Code</span>
            <select class="select" >
              <option hidden></option>
              <option >000101</option>
              <option >86516</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Product Type</span>
            <select class="select" >
              <option hidden></option>
              <option >Electrical</option>
              <option >Mechanical</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required />
          </div>
          <div class="input-box">
            <span class="details">Mobile Number</span>
            <input type="number" placeholder="Enter your number" required />
          </div>
          <div class="input-box">
            <span class="details">Quantity</span>
            <select class="select" >
              <option hidden></option>
              <option >1</option>
              <option >2</option>
              
              
            </select>
          </div>
          <div class="input-box">
            <span class="details">Location</span>
            <select class="select" >
              <option hidden></option>
              <option >Banglore</option>
              <option >Chennai</option>
              
            </select>
          </div>
          <div class="input-box">
            <span class="details">Created By</span>
            <input type="text" placeholder="Enter your name" required />
          </div>
          <div class="input-box">
            <span class="details">Created On</span>
            <input type="datetime-local" placeholder="yyyy-mm-dd" required />
          </div>
          <div class="input-box">
            <span class="details">Warranty</span>
            <select class="select" >
              <option >Applicable</option>
            
              
            </select>
          </div>
    
          <div class="input-box mb-4">
            <span class="details">Ship-Address</span>
            <input type="text" placeholder="Enter your Address" required />
          </div>
          <div class="input-box ">
            <span class="details">Post Code</span>
              <select class="select" >
                <option hidden></option>
                <option value="2">Option 1</option>
                <option value="3">Option 2</option>
                <option value="4">Option 3</option>
              </select>
  
            </div>
        </div>
       
        
        <div class="button">
          
          <input type="submit" class="btn btn-primary" value="Create Order"  />
        </div>
      </form>
    </div>
  </div>
  