<div class="inner-container-header">
    <label for="scheduler" class="form-label fw-bold">Scheduler</label>
    <app-searchbox placeholder="Search By Name"></app-searchbox>
  </div>
  
  <div class="table-responsive mt-5">
    <table class="table-1 table table-bordered table-light text-center">
      <thead>
        <tr class="table-primary">
          <th>Scheduler Id</th>
          <th>Scheduler Name</th>
          <th>Scheduler Email</th>
          <th>Scheduler Mobile</th>
          <th>Scheduler Location</th>
        </tr>
      </thead>
      <div class="separated mt-1"></div>
      <tbody>
        <tr>
          <td>1</td>
          <td>Nanda</td>
          <td>nandakumar@gmail.com</td>
          <td>966323552</td>
          <td>Banglore</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #nodata>
    <!-- <app-no-data-found></app-no-data-found> -->
  </ng-template>
  