<div class="page-nav">
    <app-breadcrumbs [pages]="breadcrumbs"></app-breadcrumbs>
    <!-- <app-breadcrumbs[pages]="breadcrumbs"></app-breadcrumbs> -->
    <div class="page-header conatiner">
     
        <!-- <button id="raise-sr-btn" class="btn btn-primary px-4 edit-btn" title="Raise New Ticket">
            <span class="d-none d-sm-block fw-bold">Raise New Ticket</span>
        </button> -->
        <div class="col  d-flex justify-content-end align-items-start">
          <button class="btn btn-primary" type="button ">
            Create Sr Request
          </button>
      </div>
    </div>
    <div class="conatiner fluid" id="main-body">
  </div>
  <app-searchbox class="mt-2" placeholder="Search By Id or Name " >

    <app-filter-button class="d-none d-lg-block"></app-filter-button>
  </app-searchbox>
   
    <ng-template #containerHeader>
       
        <ng-container>
         
            
        </ng-container>

        <ng-container *ngIf="activeSrTab ===2 ">
          <div class="Search-container">
            <div class="d-flex align-items-center">
              <label class="me-2">Scheduler</label>
              <ng-select 
              *ngIf="showSchedulerDropdown"
              class="Search-select-box custom-select-dropdown non-editable"
              id="scheduler-dropdown"
              [items]="schedulers"
              bindLabel="fullName"
              bindValue="UIN"
              (change)="handleSchedulerChange($event)"
              [clearable]="false"
              #schedulerDropdown
              (close)="schedulerDropdown.blur()"
              placeholder="Select Scheduler"
              (clear)="handleSchedulerClear()">
            </ng-select>
            </div>

            <div class="d-flex align-items-center tester-dropdown-container">
              <label class="me-2">Tester</label>
              <ng-select 
              *ngIf="showTesterDropdown"
              class="Search-select-box custom-select-dropdown non-editable"
              id="scheduler-dropdown"
              [items]="testers"
              bindLabel="fullName"
              bindValue="UIN"
              [clearable]="false"
              #schedulerDropdown
              (close)="schedulerDropdown.blur()"
              placeholder="Select Scheduler"
              (clear)="handleSchedulerClear()">
            </ng-select>
            </div>
          </div>
        </ng-container>
    </ng-template>
   <app-admin></app-admin>
   
</div>